<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="max-width: 600px;">
  <!-- Encabezado con Logo -->
  <tr>
      <td align="center" style="padding: 20px 0; background-color: #ffffff;">
          <img 
              src="https://mangel990202.pythonanywhere.com/static/img/dark-magician-fond.jpg" 
              alt="Logo de la Empresa" 
              width="350" 
              style="display: block;"
          />
      </td>
  </tr>
  <!-- Cuerpo del Email -->
  <tr>
      <td style="padding: 20px; background-color: #ffffff;">
          <p style="color: #666666;text-align:center;">Inicia sesión con el siguiente código  .</p>
          <h3 style="color: #666666; text-align:center;">Código: {{code}}</h3>
      </td>
  </tr>
</table>